<div class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um Pensamento:</h1>
    <form action="/toughts/dashboard/adicionar" method="POST">
      <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" placeholder="Digite o título" required>
      </div>
      <input type="submit" value="Criar Pensamento">
    </form>
</div>
